
* {
    font-family: 'Inconsolata', monospace;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

.inputs {
    flex-direction: column-reverse;
    display: flex;
    padding: 16px;
    box-sizing: 16px 64px;
    max-width: 300px;
}

#options {
    display: flex;
    margin: 16px;
}

#initial {
    display: flex;
    width: 40px;
    margin-left: 16px;
}

#reset {
    display: none;
    margin-top: 16px;
    margin-left: 16px;
}
